<fieldset
  class="item p-2 border-2 border-solid border-blue-700 text-gray-200 cursor-pointer bg-neutral-800 text-base"
  [ngClass]="{'bg-blue-950': commit.isSelected}">

  <legend class="flex gap-3">
    <span
      class="text-xs bg-zinc-500 border-zinc-400 rounded-full py-1 px-3 w-fit">{{ commit.sha }}</span>
    <span
      class="text-xs bg-emerald-600 border-zinc-400 rounded-full py-1 px-3 w-fit font-bold">{{ commit.datetime }}</span>
    <span
      class="text-xs bg-rose-700 border-zinc-400 rounded-full py-1 px-3 w-fit font-bold">{{ commit.author }}</span>
  </legend>

  <span>{{ commit.message }}</span>

</fieldset>
