<header class="w-full flex flex-col items-center">

  <img width="64" height="64" src="assets/images/zip-folder.png" alt="A zip folder icon.">

  <h1>{{ title }}</h1>

</header>


<div class="w-full flex flex-col items-center gap-2-5">

  <div class="w-full flex flex-col items-center gap-2-5">

    <span class="text-xl text-center">Selected Files</span>

    <cdk-virtual-scroll-viewport itemSize="20"
                                 class="selected-files viewport overflow-auto h-96 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">

      <div *cdkVirtualFor="let fileData of selectedFiles"
           class="item flex flex-row justify-between gap-3 border-2 border-solid border-lime-700 text-gray-200 cursor-pointer bg-neutral-800 text-xl"
           (click)="unselectFile(fileData)">

        <span>{{ fileData.path }}</span>
        <span>{{ fileData.size }}</span>
        <img width="32" height="32" [src]="'assets/images/' + fileData.extension + '.png'" alt="file extension image">

      </div>

    </cdk-virtual-scroll-viewport>


    <div class="flex flex-row gap-2-5">

      <button (click)="reset()"
              class="btn btn-reset bg-gray-300 text-lg text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center gap-2-5 cursor-pointer">
        <span>Reset</span>
        <img src="../assets/images/trash.png">
      </button>

      <button (click)="initZip()"
              class="btn btn-create bg-gray-300 text-lg text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center gap-2-5 cursor-pointer">
        <span>[ZIP!]</span>
        <img src="../assets/images/magic.png">
      </button>

    </div>

    <label>ZIP filename</label>
    <input type="text" [(ngModel)]="zipName" placeholder="Update_151123" class="w-80">

    <span>Excluded directories: {{ excludedDirs }}</span>
  </div>

  <div class="w-full flex flex-row gap-2-5">

    <div class="w-full flex flex-col items-center">

      <div class="w-full flex flex-col items-center h-14">

        <span class="text-xl text-center">Search for files ({{ searchResultCount }} results)</span>
        <input class="w-80" type="text" placeholder="Filename, e.g.: inc\User\Data.php"
               (input)="searchFiles($any($event.target).value)">

      </div>

      <cdk-virtual-scroll-viewport itemSize="30"
                                   class="viewport overflow-auto h-650 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">

        <div *cdkVirtualFor="let fileData of searchedFiles"
             class="item flex flex-row justify-between border-2 border-solid border-amber-700 text-gray-200 cursor-pointer bg-neutral-800 text-xl"
             (click)="onSearchedFileClick(fileData)"
             [ngClass]="{'bg-amber-800': fileData.isSelected}">

          {{ fileData.path }}
          <img width="32" height="32" [src]="'assets/images/' + fileData.extension + '.png'" alt="file extension image">

        </div>

      </cdk-virtual-scroll-viewport>

    </div>

    <div class="w-full flex flex-col">

      <div class="w-full flex flex-col items-center h-14">

        <span class="text-xl text-center h-14">Commits</span>
        <span>Since DD-MM-YYYY / Until DD-MM-YYYY</span>

      </div>

      <cdk-virtual-scroll-viewport itemSize="30"
                                   class="viewport overflow-auto h-650 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">

        <div *cdkVirtualFor="let commit of availableCommits"
             class="item border-2 border-solid border-blue-700 text-gray-200 cursor-pointer bg-neutral-800 text-xl"
             style="display: flex; flex-direction: column;" (click)="onCommitClick(commit)"
             [ngClass]="{'bg-blue-800': commit.isSelected}">

          <span>{{ commit.sha }} - {{ commit.author }} - {{ commit.datetime }}</span>
          <span>{{ commit.message }}</span>

        </div>

      </cdk-virtual-scroll-viewport>

    </div>

  </div>

</div>


<!--<h3>Available Files {{ availableFilesCount }}</h3>-->
<!--<cdk-virtual-scroll-viewport itemSize="30" class="viewport">-->
<!--  <div *cdkVirtualFor="let filePath of availableFiles" class="item">-->
<!--    {{ filePath }}-->
<!--  </div>-->
<!--</cdk-virtual-scroll-viewport>-->
