<header class="w-full flex flex-col items-center">

  <img width="64" height="64" src="assets/images/zip-folder.png" alt="A zip folder icon.">

  <h1>{{ title }}</h1>

</header>


<div class="w-full flex flex-col items-center gap-2-5">

  <div class="w-full flex flex-col items-center">

    <span class="text-xl text-center h-14">Selected Files</span>

    <cdk-virtual-scroll-viewport itemSize="20"
                                 class="selected-files viewport overflow-auto h-96 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">

      <div *cdkVirtualFor="let filePath of selectedFiles" class="item border-2 border-solid border-lime-700"
           (click)="unselectFile(filePath)">
        {{ filePath }}
      </div>

    </cdk-virtual-scroll-viewport>

    <button (click)="reset()">Reset</button>
    <button (click)="initZip()">Create ZIP</button>

  </div>

  <div class="w-full flex flex-row gap-2-5">

    <div class="w-full flex flex-col items-center">

      <div class="w-full flex flex-col items-center h-14">
        <span class="text-xl text-center">Search for files ({{ searchResultCount }} results)</span>
        <input class="w-80" type="text" placeholder="Filename, e.g.: inc\User\Data.php"
               (input)="searchFiles($any($event.target).value)">
      </div>

      <cdk-virtual-scroll-viewport itemSize="30"
                                   class="viewport overflow-auto h-650 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">

        <div *cdkVirtualFor="let fileData of searchedFiles" class="item border-2 border-solid border-amber-700"
             (click)="selectFile(fileData.path)"
             [ngClass]="{'bg-amber-800': fileData.isSelected}">
          {{ fileData.path }}
        </div>

      </cdk-virtual-scroll-viewport>

    </div>

    <div class="w-full flex flex-col">

      <div class="w-full flex flex-col items-center h-14">
        <span class="text-xl text-center h-14">Commits</span>
        <span>Since DD-MM-YYYY / Until DD-MM-YYYY</span>
      </div>
      <cdk-virtual-scroll-viewport itemSize="30"
                                   class="viewport overflow-auto h-650 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">

        <div *cdkVirtualFor="let commit of availableCommits"
             class="item border-2 border-solid border-blue-700"
             style="display: flex; flex-direction: column;" (click)="onCommitClick(commit)"
             [ngClass]="{'bg-blue-800': commit.isSelected}">

          <span>{{ commit.sha }} - {{ commit.author }} - {{ commit.datetime }}</span>
          <span>{{ commit.message }}</span>

        </div>

      </cdk-virtual-scroll-viewport>

    </div>

  </div>

</div>


<!--<h3>Available Files {{ availableFilesCount }}</h3>-->
<!--<cdk-virtual-scroll-viewport itemSize="30" class="viewport">-->
<!--  <div *cdkVirtualFor="let filePath of availableFiles" class="item">-->
<!--    {{ filePath }}-->
<!--  </div>-->
<!--</cdk-virtual-scroll-viewport>-->
