<div
  class="sticky top-0 z-40 w-full backdrop-blur flex-none mb-3" style="background-color: #323957;">

  <div class="relative flex items-center py-4 mx-4">

    <div class="flex items-center gap-2-5">

      <img width="32" height="32" src="assets/images/zip-folder.png">

      <span class="text-lg">{{ title }}</span>

      <span class="text-xs bg-zinc-500 border-zinc-400 rounded-full py-1 px-3">{{ version }}</span>

    </div>

    <div class="ml-auto flex gap-5">

      <a href="https://github.com/timo-cingoez/update-builder" target="_blank">
        <img width="32" height="32" src="assets/images/github.png">
      </a>

      <img width="32" height="32" src="assets/images/settings.png" (click)="toggleInfoPanelVisibility()">

      <div class="flex flex-col text-slate-500">
        <span>Repository: {{ repositoryPath }}</span>
      </div>

    </div>

  </div>

</div>

<div class="w-full flex gap-5 justify-between px-4">

  <button (click)="reset()"
          class="h-9 px-1 py-1 btn btn-reset bg-gray-300 text-base text-gray-800 font-bold rounded inline-flex items-center gap-2-5 cursor-pointer">
    <span>Reset</span>
    <img width="16" height="16" src="assets/images/reset.png">
  </button>

  <div class="flex flex-row gap-2-5">

    <input type="text" [(ngModel)]="zipName" placeholder="Update_151123" class="w-80 text-lg">

    <button (click)="initZip()"
            class="h-9 px-1 py-1 btn btn-create bg-gray-300 text-base text-gray-800 font-bold rounded inline-flex items-center gap-2-5 cursor-pointer">
      <span>[ZIP!]</span>
      <img width="16" height="16" src="assets/images/magic.png">
    </button>

  </div>

</div>


<div class="w-full flex flex-col items-center gap-5 mb-3">

  <div class="w-90 flex flex-col items-center gap-2-5">

    <div class="flex gap-2-5">
      <span class="text-xs bg-sky-700 border-zinc-400 rounded-full py-1 px-3 w-fit font-bold">File Size</span>
      <span class="text-xs bg-purple-700 border-zinc-400 rounded-full py-1 px-3 w-fit font-bold">Last Modified</span>
    </div>

    <ng-container *ngIf="selectedFiles.size; else noSelectedFiles">

      <cdk-virtual-scroll-viewport itemSize="20"
                                   class="selected-files overflow-auto h-60 w-full bg-zinc-900 border-2 border-solid border-zinc-400">

        <fieldset *cdkVirtualFor="let fileData of selectedFiles"
                  class="item px-1 flex flex-row justify-between gap-3 border-2 border-solid border-lime-700 text-gray-200 cursor-pointer bg-neutral-800 text-base"
                  (click)="unselectFile(fileData)">

          <legend class="flex gap-3">
            <span
              class="text-xs bg-sky-700 border-zinc-400 rounded-full py-1 px-3 w-fit h-fit font-bold">{{ fileData.size }}</span>
            <span
              class="text-xs bg-purple-700 border-zinc-400 rounded-full py-1 px-3 w-fit h-fit font-bold">{{ fileData.lastChange }}</span>
          </legend>

          <span class="flex items-center">{{ fileData.path }}</span>

          <ng-container *ngIf="doesExtensionImageExist(fileData.extension)">
            <img width="32" height="32"
                 [src]="'assets/images/file_extensions/' + fileData.extension + '.png'"
                 alt="file extension image">
          </ng-container>

        </fieldset>

      </cdk-virtual-scroll-viewport>

    </ng-container>

  </div>

  <div class="w-90 flex flex-row gap-2-5 mb-3">

    <div class="w-full flex flex-col items-center">

      <div class="w-full flex flex-col h-6 mb-2-5 items-center justify-center">

        <label>Search for files ({{ searchResultCount }} results)</label>
        <input class="w-80 text-lg" type="text" placeholder="Filename, e.g.: inc/User/Data.php"
               (input)="searchFiles()"
               [(ngModel)]="searchText">

      </div>

      <ng-container *ngIf="searchedFiles.size; else noSearchedFiles">

        <cdk-virtual-scroll-viewport itemSize="30"
                                     class="viewport overflow-auto h-450 w-full bg-zinc-900 border-2 border-solid border-zinc-400">

          <div *cdkVirtualFor="let fileData of searchedFiles"
               class="item p-2 flex flex-row justify-between border-2 border-solid border-amber-700 text-gray-200 cursor-pointer bg-neutral-800 text-base"
               (click)="onSearchedFileClick(fileData)"
               [ngClass]="{'bg-amber-800': fileData.isSelected}">

            {{ fileData.path }}
            <ng-container *ngIf="doesExtensionImageExist(fileData.extension)">
              <img width="32" height="32"
                   [src]="'assets/images/file_extensions/' + fileData.extension + '.png'"
                   alt="file extension image">
            </ng-container>

          </div>

        </cdk-virtual-scroll-viewport>

      </ng-container>

    </div>

    <div class="w-full flex flex-col">

      <div class="flex w-full">
        <div class="flex gap-2-5 w-full justify-center mb-2-5 h-6">
          <span class="text-xs bg-zinc-500 border-zinc-400 rounded-full py-1 px-3 w-fit font-bold">SHA</span>
          <span class="text-xs bg-emerald-600 border-zinc-400 rounded-full py-1 px-3 w-fit font-bold">Date</span>
          <span class="text-xs bg-rose-700 border-zinc-400 rounded-full py-1 px-3 w-fit font-bold">Author</span>
        </div>

        <div class="flex justify-end">
          <input type="checkbox" (click)="onCommitSelectAllClick()" [(ngModel)]="allCommitsSelected">
        </div>
      </div>

      <ng-container *ngIf="availableCommits.size; else noCommits">

        <cdk-virtual-scroll-viewport itemSize="30"
                                     class="viewport overflow-auto h-450 w-full bg-zinc-900 border-2 border-solid border-zinc-400"
                                     [ngClass]="{'border-zinc-400': !allCommitsSelected, 'border-lime-700': allCommitsSelected}">

          <app-commit-list-entry
            *cdkVirtualFor="let commit of availableCommits"
            [commit]="commit"
            (click)="onCommitClick(commit)">
          </app-commit-list-entry>

        </cdk-virtual-scroll-viewport>

      </ng-container>

    </div>

  </div>

</div>

<div class="flex gap-5 w-full justify-center">

  <div class="flex flex-col gap-2-5 rounded-md pb-3 w-auto overflow-hidden" style="background-color: #151515;">

    <div class="flex gap-2-5 w-full p-2" style="background-color: #A1B2C4;">
      <span class="block h-4 w-4 rounded-full bg-red-500"></span>
      <span class="block h-4 w-4 rounded-full bg-yellow-300"></span>
      <span class="block h-4 w-4 rounded-full bg-green-500"></span>
    </div>

    <div class="w-full flex items-center justify-start gap-2-5 px-3">

      <span class="text-lg">dev:~$ cd {{ repositoryPath }}</span>

    </div>

    <div class="w-full flex items-center justify-start gap-2-5 px-3">

      <span class="text-lg">dev:~/{{ repositoryPath }}$ git log</span>

      <div class="flex gap-2-5 text-lg h-9 items-center">
        <label>--since=</label>
        <input class="text-lg w-36 text-white border-none outline-none bg-gray-800" type="text"
               [(ngModel)]="gitLogOptions.since" placeholder="1 day ago">
      </div>

      <div class="flex gap-2-5 text-lg h-9 items-center">
        <label>--until=</label>
        <input class="text-lg w-36 text-white border-none outline-none bg-gray-800" type="text"
               [(ngModel)]="gitLogOptions.until" placeholder="now">
      </div>

      <div class="flex gap-2-5 text-lg h-9 items-center">
        <label>--author=</label>
        <input class="text-lg w-36 text-white border-none outline-none bg-gray-800" type="text"
               [(ngModel)]="gitLogOptions.author"
               placeholder="Name / E-Mail">
      </div>

      <div class="flex gap-2-5 text-lg h-9 items-center">
        <label>--grep=</label>
        <input class="text-lg w-36 text-white border-none outline-none bg-gray-800" type="text"
               [(ngModel)]="gitLogOptions.grep"
               placeholder="Message">
      </div>

    </div>

  </div>

  <div class="flex flex-col gap-2-5 justify-center">

    <button
      class="h-9 px-1 py-1 btn btn-reset bg-gray-300 text-base text-gray-800 font-bold rounded inline-flex items-center gap-2-5 cursor-pointer"
      (click)="toggleGitPanelVisibility()">Help
    </button>

    <button
      class="h-9 px-1 py-1 btn btn-reset bg-gray-300 text-base text-gray-800 font-bold rounded inline-flex items-center gap-2-5 cursor-pointer"
      (click)="initAvailableCommits()">Exec
    </button>

  </div>

</div>

<div [ngClass]="{'block': infoPanelVisible, 'hidden': !infoPanelVisible}" class="info-panel">

  <div class="flex flex-col gap-2-5">

    <span>API-URL: {{ configService.getApiUrl() }}</span>

    <span>REPOSITORY-PATH: {{ configService.getRepositoryPath() }}</span>

    <span>GIT-EXECUTABLE-PATH: {{ configService.getGitExecutablePath() }}</span>

    <span>Amount of available files: {{ availableFilesCount }}</span>

    <span>Currently excluded directories:</span>

    <ul>

      <li *ngFor="let dir of configService.getExcludedDirs()">
        {{ dir }}
      </li>

    </ul>

  </div>

</div>

<div [ngClass]="{'block': gitInfoPanelVisible, 'hidden': !gitInfoPanelVisible}" class="info-panel overflow-auto h-450">

  <div class="flex flex-col gap-2-5">

    <span>Format options</span>

    <ul>

      <li>
        <span>Date Formats</span>
        <p>
          Relative formats: now, yesterday, 1 hour ago, 2 days ago, etc.
          <br>
          Absolute formats: 2023-01-01, 2023-01-01 12:00:00
        </p>
      </li>

      <li>
        <span>Relative to a Specific Commit</span>
        <p>
          Example: sha (e.g., HEAD, a commit hash)
        </p>
      </li>

      <li>
        <span>Reflog Specifier</span>
        <p>
          Example: HEAD@{{ '{' }}2.days.ago{{ '}' }}
        </p>
      </li>

    </ul>

  </div>

  <div class="flex flex-col gap-2-5">

    <span>Authors</span>


    <ul *ngIf="commitAuthors.size; else commitAuthorsElse">

      <li *ngFor="let author of commitAuthors">
        {{ author }}
      </li>

    </ul>

    <ng-template #commitAuthorsElse>Fetching...</ng-template>

  </div>

</div>


<ng-template #noSelectedFiles>

  <div
    class="flex items-center justify-center h-60 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">
    <span class="text-xl text-slate-500">Selected Files</span>
  </div>

</ng-template>


<ng-template #noCommits>

  <div
    class="flex items-center justify-center h-450 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">
    <span class="text-xl text-slate-500">Commits</span>
  </div>

</ng-template>


<ng-template #noSearchedFiles>

  <div
    class="flex items-center justify-center h-450 w-full bg-zinc-900 border-2 border-solid border-zinc-400 rounded-md">
    <span class="text-xl text-slate-500">Search Files</span>
  </div>

</ng-template>
